body{
    margin: 0px;
  text-align: center;  
  
  font-family: 'Merriweather', serif;

}


h1{

    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
}



div{

    background-color: #c6fce5;
}

.bottom-cloud{

position: absolute;
}

.top-cloud{
padding-top: 40px;
position: absolute;
right: 400px;

}

.Ganesh{

  font-size: 70px;
}

h2{

    font-family: 'Montserrat', sans-serif;

}
